{% extends 'base.html.twig' %}
{% block title %}Show Questions{% endblock %}
 {% block body %}
     <h2 align="center" class="pt-5">Questions</h2>
     {% for message in app.flashes('success') %}
         <div class="alert alert-success">
             {{ message }}
         </div>
     {% endfor %}
     <table class="table">
         <thead class="thead-dark">
         <tr>
             <th>QuestionId</th>
             <th>Question</th>
             <th>First Wrong Answer</th>
             <th>Second Wrong Answer</th>
             <th>Third Wrong Answer</th>
             <th>Correct Answer</th>
         </tr>
         </thead>
         {% if questions is empty %}
             <tr>
                 <td colspan="8"><div class="d-inline p-2 bg-dark text-white center">No questions to show!!</div></td>
             </tr>
         {% else %}
             {% for question in questions %}
                 <tr>
                     <td>{{question.id}}</td>
                     <td>{{question.question}}</td>
                     {% for answer in question.answers %}              
                     <td>{{ answer.answer }}</td>               
                     {% endfor %}   
                 </tr>
             {% endfor %}
         {% endif %}
     </table>
 {% endblock %}