{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block body %}
    <div id="top" class="container">
        <div class="row col-12">

            <h1 class="text-white text-center">Online Exam portal</h1>
        </div>

    </div>
{% endblock %}